svg {
  /* TODO: add border to text area and svg */
  border: 1px solid gainsboro;
  border-radius: 10px;
  background-color: white;
}

#background {
  fill: white;
}

.label {
    font-weight: bold;
  }

.cell {
  stroke-width: 1px;
}

.axis path,
.axis line {
  stroke: none;
  fill: none;
}

.axis text {
  fill: dimgrey;
  font-size: 12px;
}

body {
  /* TODO: set font */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  /* TODO: set margin, padding, background */
  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/color_value */
  margin: 5px;
  padding: 0px;
  background-color: whitesmoke;
}
